<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script src="js/163-angular.min.js"></script>
<!-- <script src="js/index.js"></script> -->
<link rel="stylesheet" href="css/style.css" type="text/css" />
<title>Insert title here</title>
</head>
<body>
	<div ng-app="vacApp" ng-controller="process3" ng-init="getTodoTasks()">
		<table border="0">
			<tr>
				<td>流程名称</td>
				<td>任务id</td>
				<td>任务名称</td>
				<td>任务开始时间</td>
				<td>申请人</td>
				<td>办理人</td>
				<td>申请时间</td>
				<td>审批</td>
			</tr>
			<tr ng-repeat="task in todoList">
				<td>{{task.processName}}</td>
				<td>{{task.taskId}}</td>
				<td>{{task.taskName}}</td>
				<td>{{task.startTime}}</td>
				<td>{{task.processStartUserName}}</td>
				<td>{{task.approveUserName}}</td>
				<td>{{task.processStartTime}}</td>
				<td>
					<button type="button" ng-click="passAudit(task.taskId)">提交</button>
				</td>
			</tr>
			<th>
				<td>提交用户</td>
				<td>
					<input ng-model="loginUserId"/>
				</td>
				<td>其他参数信息</td>
				<td><textarea rows="5" cols="10" ng-model="params"></textarea></td>
			</th>
		</table>
	</div>
</body>
<script type="text/javascript">
	var app = angular.module('vacApp', []);
	app.controller('process3', function ($scope, $http, $window) {
		// 设置当前登录用户
		$scope.login_name = parent.document.getElementById('login_name').value;
		$scope.loginUserId = '';
		$scope.params = '{}';
		// 获取待处理任务
		$scope.getTodoTasks = function () {
	        $http.post(
	            "/process/getTodoTasks?assignee="+$scope.login_name
	        ).then(function (response) {
	            $scope.todoList = response.data.content.list;
	        })
	    }
		
		// 提交任务
	    $scope.passAudit = function(id) {
			console.log($scope);
			$scope.taskId = id;
			var data= {
					'taskId': id,
					'loginUserId': $scope.loginUserId,
					'params': $scope.params
			};
	    	$http({
				method : 'post',
				url : '/process/commitTasks',
				data : data
			}).then(function(response) {
				console.log('post success!');
				console.log(response.data);
				if (response.data.success == true) {
					alert('操作成功！');
					$window.location.reload();
				}
			}, function(resp) {
				console.log('post error!');
				console.log(resp);
			});
	    };
	}).config(function($httpProvider){
		$httpProvider.defaults.transformRequest = function(obj) {
			var str = [];
			for ( var p in obj) {
				str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
			}
			return str.join("&");
		};
		$httpProvider.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded; charset=utf-8';
	});
</script>
</html>